/paper/TAGS
/paper/auto/paper.el
/paper/paper.aux
/paper/paper.log
/paper/paper.pdf
/paper/paper.synctex.gz
/paper/.#paper.tex
/paper/auto/references.el
/paper/paper.bbl
/paper/paper.blg
/paper/auto/cover_letter.el
/paper/cover_letter.aux
/paper/cover_letter.log
/paper/cover_letter.pdf
/paper/cover_letter.synctex.gz
.emacs.desktop.lock
/paper/texput.log
.stack-work
TAGS
*.tags
*.cabal
/rhoValues
/examples/rhoValues
