/paper/TAGS
/paper/auto/paper.el
/paper/paper.aux
/paper/paper.log
/paper/paper.pdf
/paper/paper.synctex.gz
/paper/.#paper.tex
/paper/auto/references.el
/paper/paper.bbl
/paper/paper.blg
/paper/auto/cover_letter.el
/paper/cover_letter.aux
/paper/cover_letter.log
/paper/cover_letter.pdf
/paper/cover_letter.synctex.gz
.emacs.desktop.lock
/paper/texput.log
.stack-work
TAGS
*.tags
*.cabal
*stateValues
*episodeLength
/python-tensorflow-cuda-1.9.0-3-x86_64.pkg.tar.xz
results/
/episodeSteps
/stack.yaml.lock
/psiValues
/reward
/test/plot.sh
/test/psiValues
/test/reward
queueLength
/stateValuesAllStates
/stateValuesAllStatesCount
/statePsiVAllStates
/statePsiWAllStates
/test/statePsiVAllStates
/test/statePsiWAllStates
/test/stateValuesAllStates
/test/stateValuesAllStatesCount
/statePsiW2AllStates
/test/statePsiW2AllStates
.dir-locals.el
.stateValues*
/stateVAllStates
/stateW2AllStates
/stateWAllStates
/test/stateVAllStates
/test/stateWAllStates
/lp_e
/lp_e_delta
/lp_state_nrs
/lp_v
/lp_v_delta
/lp_v_gamma
/lp_v_gamma_delta
/examples/reward
/examples/lp_e
/examples/*.sh
/examples/lp_e_delta
/examples/lp_state_nrs
/examples/lp_v
/examples/lp_v_delta
/stateVAllStates_scaled
/stateValuesAgents
/examples/stack.yaml.lock
/examples/stateValuesAgents
/examples/save.dat
